//- section.warning
//- 
//-     h4 Call for speakers is now closed - Stay tuned for speaker announcements

section#cfp(full-height): .page-size

    .row

        .col-5.right

            img.illustration(src='/assets/illustrations/megaphone.svg')

        .col-7.left

            h1 Call for Speakers

            p NodeConf Budapest is a one-day, single-track conference.

            p We'll bring together our industry's enterprise heavyweights, our subject experts and highlight the finest talent Budapest has to offer.  We’ll be bringing you perspectives from the enterprise whilst providing cutting edge developer insights.

            p If you'd like to be involved, we'd love to hear your proposal, even if you have never spoken at a conference before, so get in touch!

            h2 Format & Topics

            p Talks will be 20 minutes long, followed by a Q&A Panel with time for questions. Our panel host will conduct an intimate discussion, actively involving the audience and our speakers, offering participants a more in-depth opportunity to learn.

    h4 Leave at home:

    ul.talkuntopics
        li: span Your company's new product

    p It's best to prepare for no internet and we ask all speakers to read and comply with our
      a(href='/code-of-conduct')  code of conduct.

    h2 Our Promise

    p We treat all speakers same and understand the commitment you are making to NodeConf Budapest, so, here is our promise to you.

    h3 We've got you covered!

    p We'll cover the cost of your travel including the cost of your flights, and if you like, we'll make your travel arrangements on your behalf. We will also be on hand to help you with your needs in and around the conference.

    p We'll cover the cost of your accommodation. If you want to stay a little extra, we will do our best to accommodate. Please let us know if you have any accessibility considerations.

    p If your company is able to cover any of your expenses, we'll list them as a sponsor.

    h3 Diversity

    p We believe diversity in our speakers and attendees provides the most engaging environment for discussion. We will factor this philosophy into our speakers evaluation.


    h2 Let's go?

    p Whether this is your first proposal or whether your a seasoned pro, we'll do our best to help you shape your talk to make sure it flows with the day.


    p Please include the following information:

    ul.submbission-guide
        li: span Title
        li: span Description (300 word or less)
        li: span 2-3 learning objectives
        li: span City of residence

    p
        a(href='mailto:gergely@risingstack.com?Subject=Nodeconf%20Budapest%202016%20-%20Talk%20Proposal&Body=Please%20include%20the%20following%20information%3A%0A%0A-%20Title%0A-%20Description%20%28300%20words%20or%20less%29%0A-%20learning%20objectives%0A-%20City%20of%20residence').button Submit your proposal

    p We'll evaluate proposals based on the following criteria:

    ul.evaluation
        li: span Impact on our industry
        li: span Appeal to a diverse audience
        li: span Relevance to the conference goals
        li: span Quality of the written proposal

    p Finally, here's a rundown of the important dates:

    ul.important-dates
        li: span CFP submission date - April 1st 2016
        li: span Speaker selections - April 4th 2016

    p If you have any questions feel free to #[a(href='mailto:ian.crowther@nearform.com?Subject=Nodeconf%20Budapest%202016%20-%20Enquiry') email me] or tweet #[a(href='http://twitter.com/nthgergo') @nthgergo].
