section#getting-there(full-height): .page-size

    img.header-illustrator(src='/assets/illustrations/getting-there.svg')

    h2.center Getting there

    .box.contained
        .hex-badge.top Address

        strong Mosaik
        br
        | Budapest, Pannonia Street 32 
        br
        | Underground: 
        strong Nyugati railway station

    .row.get-there

        .col-6.off-3

            h4 Underground

            p
                | Mosaik is located within walking distance from 
                strong Nyugati railway station 
                | .

            h4 Bus

            p
                strong Bus Route 15 and 115 
                | runs directly past the Mosaik along 
                strong Radnoti Miklos Street
                | .

    .center

        a.button.primary(href='https://www.google.com/maps/place/Mosaik/@47.5064987,19.0443732,15z/data=!4m23!1m17!4m16!1m6!1m2!1s0x4741dc41b415dbf1:0xa8d003cf7d78427!2zRGXDoWsgRmVyZW5jIHTDqXI!2m2!1d19.053964!2d47.497617!1m6!1m2!1s0x4741dc0916a2b5ef:0xded58bb56828adad!2sBudapest,+Mosaik,+Pann%C3%B3nia+u.+32,+1136!2m2!1d19.0530335!2d47.5155651!3e3!5i2!3m4!1s0x4741dc0916a2b5ef:0xded58bb56828adad!8m2!3d47.5155651!4d19.0530335?hl=en', target='_blank') View on Google Maps
