section#hero.center(full-height): .page-size

    a.logo(title='Nodeconf Logo' href="/")
        img.day(src='/assets/logo/nodeconf_budapest.svg')

    .content

        h1 Budapest NodeConf 2017

        h2.h5 Fri 20 January, 2017 &bull; Budapest
        
        a.button.primary.large(href='https://ti.to/risingstack/nodeconf-budapest', target='_blank') Register Interest
        //- a.button.primary.large(href='https://www.eventbrite.com/e/nodeconf-london-2016-tickets-23150432567', target='_blank') Buy Tickets - ‎€100
        //- http://nodeconf-london-2016.eventbrite.com

    .cloud.cloud-01
    .cloud.cloud-02
    .cloud.cloud-03

    .scroll-pointer
