section#hero.center(full-height): .page-size

    a.logo(title='Nodeconf Logo' href="/")
        img.day(src='/assets/logo/nodeconf_budapest.svg')

    .content

        h1 Budapest NodeConf 2017

        h2.h5 Thu 19 - Fri 20 January, 2017 &bull; Budapest
        
        a.button.primary.large(href='https://ti.to/risingstack/nodeconf-budapest', target='_blank') Get your ticket now • €150 (incl. VAT)

    .cloud.cloud-01
    .cloud.cloud-02
    .cloud.cloud-03

    .scroll-pointer
