section#schedule(full-height): .page-size

    img.header-illustrator(src='/assets/illustrations/schedule.svg')

    h2.center Schedule

    table
      
        thead

            tr
                th.start 19 January 2016
                th.start Start
                th.end End
                th.title Title

        tbody

          tr
               td
               td.start 16:00
               td.end 18:00
               td.title NodeSchool

           tr
                td
                td.start 19:00
                td.end 22:00
                td.title Nodebp Meetup

        thead

            tr

                th.start 20 January 2016
                th.start Start
                th.end End
                th.title Title

        tbody

            tr
                td
                td.start 09:00
                td.end 09:50
                td.title Registration & Breakfast

            tr
                td
                td.start 09:50
                td.end 10:00
                td.title Welcome
                  
            tr
                td
                td.start 10:00
                td.end 17:30
                td.title Talks & Lunch & Coffee Breaks

            tr
                td
                td.start 17:30
                td.end 17:35
                td.title Closing

            tr
                td
                td.start 17:35
                td.end 19:00
                td.title Drinks Reception
