section#schedule(full-height): .page-size

    img.header-illustrator(src='/assets/illustrations/schedule.svg')

    h2.center Schedule

    table
      
        thead

            tr
                th.start 19 January 2017
                th.start Start
                th.end End
                th.title Title

        tbody

          tr
               td
               td.start 16:00
               td.end 18:00
               td.title NodeSchool

           tr
                td
                td.start 19:00
                td.end 22:00
                td.title Nodebp Meetup

        thead

            tr

                th.start 20 January 2017
                th.start Start
                th.end End
                th.title Title

        tbody

            tr
                td
                td.start 09:00
                td.end 09:50
                td.title Registration & Breakfast

            tr
                td
                td.start 09:50
                td.end 10:00
                td.title Welcome
                  
            tr
                td
                td.start 10:00
                td.end 10:25
                td.title I've been web developer for 17 years and this is what I've learned
          
            tr
                td
                td.start 10:25
                td.end 10:50
                td.title Writing Secure Node Code
                
            tr
                td
                td.start 10:50
                td.end 11:15
                td.title Peer-to-peer service architecture
                
            tr
                td
                td.start 11:15
                td.end 11:45
                td.title Coffee Break
                
            tr
                td
                td.start 11:45
                td.end 12:10
                td.title A View Into the Vortex, or Tracing Asynchronous Operations in Node
                
            tr
                td
                td.start 12:10
                td.end 12:35
                td.title Breaking down the monolith
                
            tr
                td
                td.start 12:35
                td.end 13:00
                td.title Solving service discovery in Node.js with SWIM
                
            tr
                td
                td.start 13:00
                td.end 14:30
                td.title Lunch

            tr
                td
                td.start 14:30
                td.end 14:55
                td.title Build your own JavaScript powered radio
                
            tr
                td
                td.start 14:55
                td.end 15:20
                td.title Kill all Humans, Development Tool Automation Like a Pro
                
            tr
                td
                td.start 15:20
                td.end 15:45
                td.title Writing Clear and Interesting Technical Content and Documentation

            tr
                td
                td.start 15:45
                td.end 16:15
                td.title Coffee Break
                
            tr
                td
                td.start 16:15
                td.end 16:40
                td.title Shipping Resilient And Scalable Applications With Node.js And Artillery
                
            tr
                td
                td.start 16:40
                td.end 17:05
                td.title Npm & Electron in a large distributed application

            tr
                td
                td.start 17:30
                td.end 17:35
                td.title Closing

            tr
                td
                td.start 17:35
                td.end 19:00
                td.title Drinks Reception
