section#sponsors(full-height): .page-size

    img.header-illustrator(src='/assets/illustrations/sponsors.svg')

    h2 Sponsors

    .sponsors-row

      ul.sponsors-list

          li: a(href='http://www.snyk.io', target='_blank'): img(src='/assets/logo/snyk-white.svg', alt='Snyk')

    h4.center
        | We are currently seeking sponsorship.
        .normal If you want to contribute, we’d love to hear from you.

    br

    a(href='mailto:gergely@risingstack.com?Subject=NodeConf%20Budapest%202017%20-%20Sponsorship').button.center.primary Be a Sponsor
