section#venue(full-height): .page-size

    img.header-illustrator(src='/assets/illustrations/venue.svg')

    h2.center Venue

    .row

        .col-8.off-2

            h4.center
                | Mosaik
                .normal Coworking and Startup Community in the heart of Budapest

            br

            ul.photos
                li.main: a.photo-venue.photo-venue-01(href='http://mosaik.space', target='_blank')

                .row
                    li.col-4: a.photo-venue.photo-venue-02(href='http://mosaik.space', target='_blank')
                    li.col-4: a.photo-venue.photo-venue-03(href='http://mosaik.space', target='_blank')
                    li.col-4: a.photo-venue.photo-venue-04(href='http://mosaik.space', target='_blank')

            .center: a.button(href='http://mosaik.space', target='_blank') Mosaik Website
